/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.col-md-3 .card.rounded.shadow-sm.border-0{
  min-height: 500px;
  margin: 50px 0;
}

label.xng-breadcrumb-trail
{
    color:orange;
}


// Card Item 
.image.position-relative .image-box{
  width: 50%;
  margin: auto;
  padding: 15px 0;
}
.image.position-relative .image-box img{
  width: 100%;
  transition: all .3s ease-in-out;
}
.image.position-relative .image-box:hover img{
  transform: translateY(-10px);
}

.list-group-item{
  cursor: pointer !important;
}
.list-group-item.active{
  background-color: #003d94 !important;
  border-color: #003d94 !important;
}


.text-decoration-none{
  overflow-x: hidden;
}

.one-line {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;
}

.name-prod{
  color: #000;
  background-color: orange;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 2em;
}